body {
  background-image: url('perfect2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  margin: 20px;
  overflow: hidden;
}

.calculator {
  width: 100%;
  max-width: 400px;
  border: 5px solid #b41a1a;
  border-radius: 20px;
  box-shadow: 0 0 10px #16dfa3;
  padding: 20px;
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);

}

.display {
  border: 1px solid #46de4b;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 5px;
}

.display input {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: right;
  padding: 10px;
  color: #020024;
  font-weight: bold;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button {
  background-color: #ffffff;
  border: 1px solid #5b15a1;
  border-radius: 5px 15px 5px 15px;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.2s;
}

.button:hover {
  transform: scale(1.1);
  background-image: radial-gradient(rgb(222, 82, 82), rgb(64, 205, 240), rgb(102, 0, 128));
  color: #fff;
}

.social-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-links a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  transition: transform 0.2s;

}

#main-social {
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: 45px 45px 0 0;
  margin: 30px;

}

.social-links a:hover {
  transform: scale(1.2);
}

#fb {
  color: #1877F2;

}

#in {
  color: #0077B5;

}

#wp {
  color: #25D366;
}

/* Responsive Design */
@media (min-width: 450px) and  (max-width:850px) {
  .calculator {
    max-width: 100%;
    padding: 15px;
  }

  .display input {
    height: 50px;
    font-size: 1.2rem;
  }

  .button {
    font-size: 1rem;
    padding: 8px;
  }
}